/* 
  - Blueprints JS
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
 */

/* Custom Background */
.bg-custom {
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Buttons */

.square {
  height: 30px;
  width: 30px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  cursor: crosshair;
}
.active-square {
  background-color: #454545;
  pointer-events: none;
  /* cursor: default; */
}
/* Button circles */
.active-square::after {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #454545 dashed 2px;
  border-radius: 30px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
}
.square:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #1cffe5 solid 2px;
  border-radius: 30px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.square:hover:not(.active-square):before,
.square:focus:not(.active-square):before,
.square:active:not(.active-square):before {
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 1;
}
.square:hover:not(.active-square) {
  background-color: #1cffe5;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: background-color;
}
.square:focus:not(.active-square) {
  background-color: #1cffe5;
}
